<div class="page-header">
  <h1>Benchmarking results for <%= @revision.name %></h1>
</div>

<p><strong>Environment:</strong> <%= @revision.env %></p>

<%-# TODO: Come up with something more readable -%>
<table class="table table-condensed table-striped table-bordered table-hover">
  <% Suite.get_top_level.each do |suite| %>
      <%= render partial: "measurement_row",
                 locals: {suite: suite, revision: @revision, depth: 0} %>

      <% suite.sub_suites.each do |sub_suite| %>
        <%= render partial: "measurement_row",
                   locals: {suite: sub_suite, revision: @revision, depth: 1} %>

        <% sub_suite.sub_suites.each do |subsub_suite| %>
          <%= render partial: "measurement_row",
                     locals: {suite: subsub_suite, revision: @revision, depth: 2} %>
        <% end %>
      <% end %>
  <% end %>
</table>